<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" allow-return-values="true" parallel="tests"
	thread-count="2" verbose="2">

<test name="Test App">
		<parameter name="udid" value="emulator-5554"></parameter>
		<parameter name="systemPort" value="8203" />
		<classes>
			<class name="com.Test.TestScript.TestApp">
			</class>
		</classes>
	</test> 

</suite> 
